
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 
 */

/**home page**/
.searchfield{
	display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 2px solid #0C96B9;
  border-radius: 4px;
  outline:none;
  
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

}


.container {
  width: 1170px !important;
}

.ulreset{
  -webkit-padding-start: 0px !important;
  -moz-padding-start: 0px !important;
  padding-start:  0px !important;
}

.backtoalljobs{
  margin-top: 50px;

}
.topcontainer{
margin-top: 20px;
  
}
div.topcontainer div.row{
margin-bottom: 10px;
  
}
.backtoalljobs{
  margin-bottom:15px;
}

div.subscriber{
  margin-top:30px;
}
div.lessmarginrow h3{
margin-top: 10px !important;
margin-bottom: 5px !important;
  
}
div.page-header{
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}
div.hr {
  height: 2px;
  background: #F0EBE6 no-repeat scroll center;
}
div.hr hr {
  display: none;
}

div.hrstrong {
  height: 2px;
  background: grey no-repeat scroll center;
  margin-top:20px;
}
div.hrstrong hr {
  display: none;
}
.bottomrow{
  margin-bottom: 20px;
}

div.buttonupload div input{
  color:grey; 
}
div.thankyou{
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
}

.btn-primary,.btn-primary:visited{
  background-color:#E9F6F9;
  border: 2px solid #0E404D ;
  color:#0C96B9;
}
.btn-primary:active{
  background-color:#24A0C0;
  border: 1px outset #0C96B9 ;

}
.btn-primary:hover{
  border: 1px outset #0C96B9 ;
  background-color:#24A0C0;
  color:white;
}


div.headertitle p{
  text-align:center;
  font-size:30px;
  color:white;
  
}
div.subheadertitle p{
  text-align:center;
  font-size:20px;
  padding-top:15px;
  color:white;
  
}

h3 small{
  color: #221E19;
  font-weight:bold;
}

div.appinstructions_div * {
font-size: 20px !important;
  
}



p.appinstructions{
  background-color:#CEE2E7;
  border: 1px solid #043844;
  border-radius: 5px;
  padding:3px;

}
h2.titleapply{
  color:#227D95 !important;
}
h2.titleabout{
  color:#227D95 !important;
  font-weight: bold;
  
}

span.jobtitleheader{
  color:#227D95 !important;
}
div.showjobdetails{
  width: 980px !important;
}
.subscribe-button{
  padding-left:30px;
  padding-right:30px;
  border: 1px solid black;
  background-color:#096F89;
  color:white;
}

div.backgroundcontainer{
  width:100%;
  background-color:#0DAAD1;

}

div.logo{
  padding-top:25px;
}
.emailbox:active{
  border: 2px solid grey; 
}

h3.companyinfo small
{
  color:#227D95;
}

div#error_explanation {
  width: 100%;
  border: 1px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

span.help-inline{
  color: #B82E00;
}
