
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 
 */

/**home page**/
.searchfield{
	display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid black;
  border-radius: 4px;
  outline:none;
  
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

}


.container {
  width: 1170px !important;
}

.ulreset{
  -webkit-padding-start: 0px !important;
  -moz-padding-start: 0px !important;
  padding-start:  0px !important;
}

.topcontainer,.backtoalljobs{
  margin-top: 50px;

}
.backtoalljobs{
  margin-bottom:15px;
}

div.lessmarginrow h3{
margin-top: 10px !important;
margin-bottom: 5px !important;
  
}
div.page-header{
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}
div.hr {
  height: 2px;
  background: black no-repeat scroll center;
}
div.hr hr {
  display: none;
}
.bottomrow{
  margin-bottom: 20px;
}

div.buttonupload div input{
  color:grey; 
}
div.thankyou{
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
}

.btn-primary{

  border-bottom: 4px outset #428bca ;
}
.btn-primary:active{

  border-bottom: 4px outset #428bca ;
}
body{
  
}

