// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



label.amount span{
	
	font-size:30px;

}
button#customButton{
	height: 50px;
	display:block;
}