@import "bootstrap-sprockets";
@import "bootstrap";


.form-group{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;

}
div.form-group label{
	color:grey;
	font-size: 20px;
}

textarea.job-desc{
	height: 225px !important;
}

textarea.appinstructions{
	height: 65px !important;

}
div.form-group label.control-label{
  color:#A23826 !important;
}

label.subsectionheader{
	font-size:24px;
	color:#74281C !important;
	margin-top:10px;
}

