
li#joblistings{
	list-style-type:none;
	border-bottom: 1px solid #D8D8D8;
	overflow: auto;
	padding-top: 10px;
	padding-bottom: 0px;
}
	
.jobpostingtitle{
	font-size: 24px;
	color: #A8A8A1;
	vertical-align: middle;
}

div.jobpostingdate{
	height: 50px;
	line-height: 50px;
}

div.jobpostingcompany{
	height: 50px;
	line-height: 50px;
}

div.jobpostingtitle{
	height: 50px;
	line-height: 50px;

}
a.jobpostinglink span#jobtitle{
	color:black;
}

a.jobpostinglink span#companytitle{
	color:black;
	font-weight: bold;
}

a.jobpostinglink span#companytitle{
	color:grey;
}

div#showjobdesc p{
	font-size: 18px !important;
}

div#showjobdesc div{
	font-size: 18px !important;
}
div#showjobdesc  ul li{
	font-size: 16px !important;
}
