@import "bootstrap-sprockets";
@import "bootstrap";


li.joblistings{
	list-style-type:none;
	border-bottom: 1px solid #D8D8D8;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 0px;
}
	
.jobpostingtitle{
	font-size: 24px;
	color: #A8A8A1;
	vertical-align: middle;
}

div.jobpostingdate{
	height: 50px;
	line-height: 50px;
}
div.jobpostingdate span{
	font-weight: bold;
}

div.jobpostingcompany{
	height: 50px;
	line-height: 50px;
}

div.jobpostingtitle{
	height: 50px;
	line-height: 50px;

}
a.jobpostinglink span#jobtitle{
	font-size: 1.2em;
	text-decoration: none;
	color:#096F89;
	font-weight: bolder;

	
}

a.jobpostinglink span#companytitle{
	color:#096F89;
	font-size: 1.2em;	
	
	font-weight: normal;
	
}

a.jobpostinglink:hover{
	text-decoration:none;
}

div#showjobdesc *{
font-size: 18px!important;
color:black;
font-family:Arial, sans-serif !important;
line-height: 1.3;
}
div.postbutton{
	margin-top: 15px;
	margin-bottom:15px;

}
div.postbutton a {
	font-size:30px;
	
}
li.joblistings:hover
{
		background-color:#E2EEF1;

}

align{
	height: 40px !important;
}
div.grow { transition: all .2s ease-in-out; }
div.grow:hover { -webkit-transform: scale(1.1); transform: scale(1.1); }