<div class="container header">
	<div class="row">
		<div class="col-md-12 col-xs-12 headertitle">
			<p>
				RemoteProgrammerJobs.com
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-xs-12 headertitle">
			<p>
				The best jobs for remote programmers.
			</p>
		</div>
	</div>
</div>